body {
    background-image: url('trivia.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    font-family: Roboto,'Helvetica Neue',Arial,sans-serif;
}

#title{
    background-image: linear-gradient(to right, hsl(276, 100%, 50%), hsl(27, 100%, 60%));
    color: white;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 30px;
}

h3 {
    color: whitesmoke;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 30px;

}

#question{
    color: white;
    font-size: 30px;
    padding: 0px 30px 20px 30px;

}

label[for="trivia_difficulty"] {
    text-align: left;
    margin-right: 150px;
}

label[for="trivia_category"] {
    text-align: left;
    margin-right: 150px;
}

label[for="trivia_type"] {
    text-align: left;
    margin-right: 190px;
}

label[for="trivia_amount"] {
    text-align: left;
    margin-right: 40px;
}

#feedback{
    padding-top: 10px;
}

#endScreen{
    background-image: url('game.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1050px;
    height: 830px;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 20px;
    margin: 60px;
    padding:10px;
}

#playAgainBtn{
    background-color: hsl(276, 100%, 50%);
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    height: 70px;
    width: 250px;
    border-radius: 20px;
    border: none;
    margin-bottom: 30px;
    cursor: pointer;
}

#playAgainBtn:hover{
    background-color: hsl(187, 98%, 50%);
}

#playAgainBtn:active{
    background-color: hsl(187, 98%, 60%);
}


#gameScreen {
    background-image: url('game.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1050px;
    height: 830px;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 20px;
    margin: 60px;
    padding: 10px;

}

.answerBtns{
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(4, 1fr);
    padding: 0px 40px 50px 40px;
}

.answerBtn{
    border-radius: 15px;
    background-color: hsl(276, 100%, 50%);
    color: white;
    width: 500px;
    height: 70px;
    font-size: 24px;
    font-family: Roboto,'Helvetica Neue',Arial,sans-serif;
    border: 0.5px solid black;
    text-align: center;
    cursor: pointer;
}

.answerBtn:hover{
    background-color: hsl(276, 100%, 60%);
}

.answerBtn:active{
    background-color: hsl(276, 100%, 70%);
}

#backToSettingsBtn {
    background-color: hsl(276, 100%, 50%);
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    height: 70px;
    width: 250px;
    border-radius: 20px;
    border: none;
    margin-bottom: 30px;
    cursor: pointer;
}

#backToSettingsBtn:hover{
    background-color: hsl(330, 100%, 60%);
} 

#backToSettingsBtn:active{
    background-color: hsl(330, 100%, 70%);
}

.navBtns {
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

.scoreBoard{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 32px;
    padding: 40px 60px 0px 60px;
}

#settings {
    background-image: url('game.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1050px;
    height: 830px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    margin:60px;
    

}

.form-control {
    width: 310px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px hsl(276, 100%, 50%);
    font-size: 20px;
    margin: 5px;
    text-align: left;
}



#mainMenuBtn {
    background-color: hsl(276, 100%, 50%);
    font-weight: bold;
    font-size: 40px;
    color: white;
    text-align: center;
    height: 70px;
    width: 250px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

#mainMenuBtn:hover {
    background-color: hsl(330, 100%, 60%);
}

#mainMenuBtn:active {
    background-color: hsl(330, 100%, 70%);
}

#mainMenu {
    background-image: url('game.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 1050px;
    height: 830px;
    padding: 10px;
    border-radius: 20px;
    margin: 60px;
}

#startGameButton {
    background-color: hsl(276, 100%, 50%);
    font-size: 38px;
    font-weight: bold;
    color: white;
    text-align: center;
    height: 100px;
    width: 330px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
}

#startGameButton:hover {
    background-image: none;
    background-color: hsl(187, 98%, 50%);
}

#startGameButton:active {
    background-color: hsl(187, 98%, 60%);
}


#playbutton {
    background-image: linear-gradient(to right, hsl(276, 100%, 50%), hsl(27, 100%, 60%));
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    height: 100px;
    width: 400px;
    margin-top: 30px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

.visible {
    display: flex;
}